<template>
  <section class="courses">
    <div class="container">
      <div class="row">
        <div class="boxedcontainer">
          <h4 class="mt-4 ml-4 mb-0 bg-white">Browse Courses</h4>
          <div class="card-group">
            <div class="col-md-4 bg-white">
              <div class="card coursediv card-custom bg-white border-white border-0">
                <div
                  class="card-custom-img"
                  style="
                      background-image: url(https://via.placeholder.com/300x200?text=biggmind.com);
                    "
                ></div>
                <div class="card-custom-avatar">
                  <img
                    class="img-fluid"
                    src="https://www.biography.com/.image/t_share/MTY2MzU3Nzk2OTM2MjMwNTkx/elon_musk_royal_society.jpg"
                    alt="Avatar"
                  />
                </div>
                <div class="card-body bg-white" style="overflow-y: auto; margin-bottom: 0px;">
                  <h4 class="card-title bg-white">Course 1</h4>
                  <p class="card-text bg-white">
                    A small detail about the course
                    <a href="#" target="_blank">with a link element</a>
                    find the best course in the market
                  </p>
                </div>
                <div
                  class="card-footer bg-white"
                  style="background: bg-white; border-color: inherit;"
                >
                  <a href="#" class="btn searchbtn">Check out</a>
                  <a href="#" class="btn searchbtninverse">Other option</a>
                </div>
              </div>
            </div>
            <div class="col-md-4 bg-white">
              <div class="card coursediv card-custom bg-white border-white border-0">
                <div
                  class="card-custom-img"
                  style="
                      background-image: url(https://via.placeholder.com/300x200?text=biggmind.com);
                    "
                ></div>
                <div class="card-custom-avatar">
                  <img
                    class="img-fluid"
                    src="https://img.mensxp.com/media/content/2020/Jan/ranveer-allahbadia-aka-beer-biceps-on-his-personal-style-and-life-beyond-social-media-1200x900-1579353942_1200x900.jpg"
                    alt="Avatar"
                  />
                </div>
                <div class="card-body bg-white" style="overflow-y: auto; margin-bottom: 0px;">
                  <h4 class="card-title bg-white">Course 1</h4>
                  <p class="card-text bg-white">
                    A small detail about the course
                    <a href="#" target="_blank">with a link element</a>
                    find the best course in the market
                  </p>
                </div>
                <div
                  class="card-footer bg-white"
                  style="background: bg-white; border-color: inherit;"
                >
                  <a href="#" class="btn searchbtn">Check out</a>
                  <a href="#" class="btn searchbtninverse">Other option</a>
                </div>
              </div>
            </div>
            <div class="col-md-4 bg-white">
              <div class="card coursediv card-custom bg-white border-white border-0">
                <div
                  class="card-custom-img"
                  style="
                      background-image: url(https://via.placeholder.com/300x200?text=biggmind.com);
                    "
                ></div>
                <div class="card-custom-avatar">
                  <img
                    class="img-fluid"
                    src="https://imagez.tmz.com/image/98/4by3/2020/06/30/98c4eb68579d42d99dd72f14e5f4d4dd_md.jpg"
                    alt="Avatar"
                  />
                </div>
                <div class="card-body bg-white" style="overflow-y: auto; margin-bottom: 0px;">
                  <h4 class="card-title bg-white">Course 1</h4>
                  <p class="card-text bg-white">
                    A small detail about the course
                    <a href="#" target="_blank">with a link element</a>
                    find the best course in the market
                  </p>
                </div>
                <div
                  class="card-footer bg-white"
                  style="background: bg-white; border-color: inherit;"
                >
                  <a href="#" class="btn searchbtn">Check out</a>
                  <a href="#" class="btn searchbtninverse">Other option</a>
                </div>
              </div>
            </div>
            <div class="col-md-4 bg-white">
              <div class="card coursediv card-custom bg-white border-white border-0">
                <div
                  class="card-custom-img"
                  style="
                      background-image: url(https://via.placeholder.com/300x200?text=biggmind.com);
                    "
                ></div>
                <div class="card-custom-avatar">
                  <img
                    class="img-fluid"
                    src="https://pbs.twimg.com/profile_images/988775660163252226/XpgonN0X_400x400.jpg"
                    alt="Avatar"
                  />
                </div>
                <div class="card-body bg-white" style="overflow-y: auto; margin-bottom: 0px;">
                  <h4 class="card-title bg-white">Course 1</h4>
                  <p class="card-text bg-white">
                    A small detail about the course
                    <a href="#" target="_blank">with a link element</a>
                    find the best course in the market
                  </p>
                </div>
                <div
                  class="card-footer bg-white"
                  style="background: bg-white; border-color: inherit;"
                >
                  <a href="#" class="btn searchbtn">Check out</a>
                  <a href="#" class="btn searchbtninverse">Other option</a>
                </div>
              </div>
            </div>
            <div class="col-md-4 bg-white">
              <div class="card coursediv card-custom bg-white border-white border-0">
                <div
                  class="card-custom-img"
                  style="
                      background-image: url(https://via.placeholder.com/300x200?text=biggmind.com);
                    "
                ></div>
                <div class="card-custom-avatar">
                  <img
                    class="img-fluid"
                    src="https://yt3.ggpht.com/a/AATXAJxuvwdB2H7bQQyQk8Aqu28rYXWmz_WJWjbwgcBD=s900-c-k-c0xffffffff-no-rj-mo"
                    alt="Avatar"
                  />
                </div>
                <div class="card-body bg-white" style="overflow-y: auto; margin-bottom: 0px;">
                  <h4 class="card-title bg-white">Course 1</h4>
                  <p class="card-text bg-white">
                    A small detail about the course
                    <a href="#" target="_blank">with a link element</a>
                    find the best course in the market
                  </p>
                </div>
                <div
                  class="card-footer bg-white"
                  style="background: bg-white; border-color: inherit;"
                >
                  <a href="#" class="btn searchbtn">Check out</a>
                  <a href="#" class="btn searchbtninverse">Other option</a>
                </div>
              </div>
            </div>
            <div class="col-md-4 bg-white">
              <div class="card coursediv card-custom bg-white border-white border-0">
                <div
                  class="card-custom-img"
                  style="
                      background-image: url(https://via.placeholder.com/300x200?text=biggmind.com);
                    "
                ></div>
                <div class="card-custom-avatar">
                  <img
                    class="img-fluid"
                    src="https://thumbor.forbes.com/thumbor/fit-in/416x416/filters%3Aformat%28jpg%29/https%3A%2F%2Fspecials-images.forbesimg.com%2Fimageserve%2F5c7d7829a7ea434b351ba0b6%2F0x0.jpg%3Fbackground%3D000000%26cropX1%3D206%26cropX2%3D2043%26cropY1%3D250%26cropY2%3D2089"
                    alt="Avatar"
                  />
                </div>
                <div class="card-body bg-white" style="overflow-y: auto; margin-bottom: 0px;">
                  <h4 class="card-title bg-white">Course 1</h4>
                  <p class="card-text bg-white">
                    A small detail about the course
                    <a href="#" target="_blank">with a link element</a>
                    find the best course in the market
                  </p>
                </div>
                <div
                  class="card-footer bg-white"
                  style="background: bg-white; border-color: inherit;"
                >
                  <a href="#" class="btn searchbtn">Check out</a>
                  <a href="#" class="btn searchbtninverse">Other option</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {};
</script>

<style>
</style>