<template>
  <footer id="footerpad">
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-6 col-lg-8 mx-auto">
          <hr />
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-facebook fa-stack-1x"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-twitter fa-stack-1x"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-instagram fa-stack-1x"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-pinterest fa-stack-1x"></i>
                </span>
              </a>
            </li>
          </ul>
          <p class="copyright text-muted text-center">
            Copyright &copy; Your Company 2020 | Web Design by
            <a
              href="mailto:reach@heyshrav.me"
            >Shravan</a>
          </p>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
export default {};
</script>

<style>
</style>