<template>
  <section class="news">
    <div class="container">
      <div class="row">
        <div class="boxedcontainer">
          <div class="col-12 bg-white">
            <h4 class="bg-white mt-4 mb-0 ml-4">List of News Section</h4>
            <br />
          </div>

          <div class="row newsbox mt-0 bg-transparent">
            <div class="col-12 ml-1 mt-0 bg-transparent">
              <div
                class="row mb-2 d-flex flex-row align-items-center justify-content-center bg-transparent"
              >
                <div class="col-md-8 col-sm-12">
                  <article class>
                    <div class="card bg-transparent">
                      <div class="card-body">
                        <div class="media">
                          <img
                            class="mr-3 newsicon img-fluid rounded-circle"
                            src="https://www.biography.com/.image/t_share/MTY2MzU3Nzk2OTM2MjMwNTkx/elon_musk_royal_society.jpg"
                            alt="news icon"
                          />
                          <div class="media-body">
                            <h5 class="mt-0">Media heading</h5>
                            <a href="#">
                              <h6 class>
                                Super excited to join you guys at 9:00 a.m. ET
                                :) Text your question and number to
                                212-931-5731 to be on the show!
                              </h6>
                            </a>
                            <button type="button" class="btn searchbtn">Read more</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </article>
                  <article class="mt-2">
                    <div class="card bg-transparent">
                      <div class="card-body">
                        <div class="media">
                          <img
                            class="mr-3 newsicon img-fluid rounded-circle"
                            src="https://www.biography.com/.image/t_share/MTY2MzU3Nzk2OTM2MjMwNTkx/elon_musk_royal_society.jpg"
                            alt="news icon"
                          />
                          <div class="media-body">
                            <h5 class="mt-0">Media heading</h5>
                            <a href="#">
                              <h6 class>
                                Super excited to join you guys at 9:00 a.m. ET
                                :) Text your question and number to
                                212-931-5731 to be on the show!
                              </h6>
                            </a>
                            <button type="button" class="btn searchbtn">Read more</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </article>
                </div>

                <div class="col-md-4 mt-2 col-sm-12">
                  <div class="card" style="width: 100%;">
                    <div class="card-header bg-dark text-white">Today’s news and views</div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">
                        <a href="#">
                          <div class="text-truncate">Unemployment rate declines: CMIE</div>
                          <span class="badge badge-info">21h ago • 1,359 readers</span>
                        </a>
                      </li>
                      <li class="list-group-item">
                        <a href="#">
                          <div class="text-truncate">What will happen to tiktok</div>
                          <span class="badge badge-info">2h ago • 11,359 readers</span>
                        </a>
                      </li>
                      <li class="list-group-item">
                        <a href="#">
                          <div class="text-truncate">Latest news across the globe right here</div>
                          <span class="badge badge-info">12h ago • 1,31,239 readers</span>
                        </a>
                      </li>
                      <div class="badge badge-pill text-center list-group list-group-flush">
                        <a href="#">
                          Show more
                          <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </a>
                      </div>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="row mb-2">
                <div class="col-md-12">
                  <nav aria-label="Page navigation example">
                    <ul class="pagination">
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                          <span aria-hidden="true">«</span>
                          <span class="sr-only">Previous</span>
                        </a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="#">1</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="#">2</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="#">3</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                          <span aria-hidden="true">»</span>
                          <span class="sr-only">Next</span>
                        </a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {};
</script>

<style>
</style>