@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #f5f5f5;
}
.tabs-left {
  align-items: center;
}
.mainsection {
  padding: 2rem;
}
.tabhandler {
  padding: 20px;
}
a {
    color: #678a9e;
}
.searchsection {
  background-image: url("https://images.unsplash.com/39/lIZrwvbeRuuzqOoWJUEn_Photoaday_CSD%20(1%20of%201)-5.jpg?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  min-height: 300px;

  box-shadow: inset 0 0 0 100vw rgba(22, 22, 22, 0.26) !important;
}

.tabpillscustom { display:block; width:100%; text-align:left; border-bottom:1px solid #eee;}
.tabpillscustom a{display:block;  padding:15px 20px; font-size:14px; font-weight:600; position:relative; color:#222;}

.tabpillscustom a:hover, .tabpillscustom a.active {
  background-color: #666; color:#fff!important;
}
.tabpillscustom a.active::after{font-family:fontawesome; content:"\f0da"; right:-20px; top:-35px; color:#666; position:absolute; font-size:80px;}
.tabhandler{padding:0px;}
.tabpillscustomul {
  margin: 0; padding:0;
}
.tabpillscustom a {
  text-decoration: none;

  color: #222e35;
}
.tabpillscustom a:hover {
  color: rgb(255, 255, 255);
}

.tabcontainer {
  max-width: fit-content !important;
}

.mainsectioncard {
  padding: 20px;
  max-width: fit-content !important;
}

.navsearchbar {
  border: 2px solid #181818 !important;
  border-radius: 20px !important;
}
.navsearchbarfield {
  position: absolute;
  margin-left: 20px !important;
}

.coverimage {
  background-image: url("https://img.freepik.com/free-photo/white-cloud-blue-sky-sea_74190-4488.jpg?size=626&ext=jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 250px;

  box-shadow: inset 0 0 0 100vw rgba(22, 22, 22, 0.26) !important;
  border: 10px solid #f5f5f5;
}

.profileimage {
  border: 0px solid #fdfbfb;
}
.round-profile{overflow:hidden; border-radius:400px; display:inline-block; max-width:180px; margin:0 auto; box-shadow: rgba(0,0,0,.1) 0px 0px 20px;}
.d-inline-block{background:#fff; padding:20px 30px 5px; border-radius:10px; box-shadow:rgba(0,0,0,.2) 0px 0 20px}
.profileheader {background:#fff; border-radius:50px; display:block;
  padding: 5px; margin:0; font-weight:500; font-size:18px;margin-top: -45px; margin-bottom:10px;
position: relative;
box-shadow: rgba(0,0,0,.1) 0px 0px 2px;
}
.social-profile{background:none; border:0; border-radius:100px; padding:0 10px; width:50px; height:50px; text-align:center; line-height:30px; font-size:25px; color:#999;}
.social-profile:hover{background:#f2f2f2;box-shadow: rgba(0,0,0,.1) 0px 1px 1px;}
.userDes{padding:0; margin:0px;}
.userDes th{padding:5px 0; margin:0; vertical-align:top; font-size:13px; font-weight:600; border-bottom:1px dashed #eee; width:25%;}
.userDes th i{color:#666;}
.userDes td{padding:5px 0; margin:0; vertical-align:top; font-size:14px; font-weight:400; border-bottom:1px dashed #eee;}
.socialIco i{font-size:24px;}
.social{position:absolute; top:-20px; right:-20px;}
.headersection {
  margin-bottom: 30px;
  margin-top: 60px;
}

.herocard {
  min-height: 215px;
  padding-bottom: 0px;
}

.social-icons {
  color: #ffffff;
  background-color: none;
  text-align: center;
  padding: 70px 0;
}




@media (max-width: 767px) {
  .social-icons {
    padding: 50px 0;
  }
}

.social-icons i {
  font-size: 32px;
  display: inline-block;
  color: #757980;
  margin: 0 10px;
  width: 60px;
  height: 60px;
  border: 1px solid #c8ced7;
  text-align: center;
  border-radius: 50%;
  line-height: 60px;
}

.navigation-clean-search {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: rgb(255, 255, 255);
  border-radius: 0;
  box-shadow: none;
  border: none;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .navigation-clean-search {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.navigation-clean-search .navbar-brand {
  font-weight: bold;
  color: inherit;
}

.navigation-clean-search .navbar-brand:hover {
  color: #222;
}

.navigation-clean-search .navbar-toggler {
  border-color: #ddd;
}

.navigation-clean-search .navbar-toggler:hover,
.navigation-clean-search .navbar-toggler:focus {
  background: none;
}

.navigation-clean-search .navbar-toggler {
  color: #888;
}

.navigation-clean-search .navbar-collapse,
.navigation-clean-search .form-inline {
  border-top-color: #ddd;
}

.navigation-clean-search .navbar-nav a.active,
.navigation-clean-search .navbar-nav > .show > a {
  background: none;
  color: #fff;
  font-size: 14px;
  box-shadow: none;
}

.navigation-clean-search.navbar-light .navbar-nav a.active,
.navigation-clean-search.navbar-light .navbar-nav a.active:focus,
.navigation-clean-search.navbar-light .navbar-nav a.active:hover {
  color: #ffeeee;
  box-shadow: none;
  background: none;

  font-size: 14px;
  pointer-events: none;
}

.navigation-clean-search.navbar .navbar-nav .nav-link {
  padding-left: 18px;
  color: #fff;
  padding-right: 18px;
  font-size: 14px;
}
.nav-link {
  color: #fff;
}
.nav-link:hover {
  color: #465765 !important;
}
.navigation-clean-search.navbar-light .navbar-nav .nav-link {
  color: #465765;
}

.navigation-clean-search.navbar-light .navbar-nav .nav-link:focus,
.navigation-clean-search.navbar-light .navbar-nav .nav-link:hover {
  color: #37434d !important;
  background-color: transparent;
}

.navigation-clean-search .action-button,
.navigation-clean-button .action-button:active {
  background: #ffffff;
  font-size: inherit;
  color: #006fff !important;
  box-shadow: none;
  border: none;
  text-shadow: none;
  padding: 8px 20px;
  transition: background-color 0.25s;
}

.navigation-clean-search .action-button:hover,
.navigation-clean-search .action-button:focus {
  background: #222222;
  color: #fff !important;
}

.navigation-clean-search .form-inline label {
  color: #ccc;
}

.navigation-clean-search .form-inline .search-field {
  background: none;
  border: none;
  border-bottom: 1px solid transparent;
  border-radius: 0;
  color: #ccc;
  box-shadow: none;
  color: inherit;
  transition: border-bottom-color 0.3s;
}

.profiles {
  margin-top: 60px;

  margin-bottom: 60px;
}

.profilecard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  transform: scale(0.9);
  text-align: center;
  font-family: arial;
}

.profiletitle {
  color: grey;
  margin-top: -10px;
  font-size: 12px;
}

.postimage {
  width: 100%;
  max-height: 4rem;
}

.searchbtn {
  background-color: #253237;
  border-radius: 4px;
  color: #e0fbfc;
}

.searchbtn:hover {
  background-color: #e0fbfc;
  color: #253237;
  border: 1px solid #253237;
}

.searchbtninverse {
  background-color: #e0fbfc;
  color: #253237;
  border: 1px solid #253237;
}

.searchbtninverse:hover {
  background-color: #253237;
  border-radius: 4px;
  color: #e0fbfc !important;
}

.news {
  margin-bottom: 40px;
  border-radius: 10px;
}

.newsicon {
  width: 80px !important;
}
.profileicons li {
  list-style: none;
  margin-left: -40px;
}
.profileicons {
  padding-bottom: 10px;
}
.newsbox {
  background-color: none;
  width: fit-content;
  padding: 20px;
}

.card-custom {
  overflow: hidden;
  min-height: 450px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 1px rgba(0, 0, 0, 0.1);
}

.boxedcontainer {
  width: 100%;
}
.boxedcontainer ul.tabpillscustomul{  box-shadow: 0 0  10px rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
  border-radius: 5px;
  background: #fff;
}
.mainsectioncard{box-shadow:rgba(0,0,0,.1) 15px 15px 0; font-size:15px; line-height:28px;}
.mainsectioncard h1{font-size:26px; font-weight:600; border-bottom:1px dashed #ddd; padding-bottom:10px; margin-bottom:30px;}
.mainsectioncard ul.listing{padding:0; margin:0;}
.mainsectioncard ul.listing li{ list-style:none; padding-left:30px; padding-bottom:10px; position:relative;}
.mainsectioncard ul.listing li::before{position:absolute; content:"\f046"; font-family:"fontAwesome"; left:0px; top:0px; font-size:17px; color:#111;}
.card-custom-img {
  height: 200px;
  min-height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-color: inherit;
}

.card-custom-img::after {
  position: absolute;
  content: "";
  top: 161px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-top-width: 40px;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 545px;
  border-left-width: calc(575px - 5vw);
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: inherit;
}

.card-custom-avatar img {
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(1, 1, 1, 0.3);
  position: absolute;
  top: 100px;
  left: 1.25rem;
  width: 100px;
  height: 100px;
}

.coursediv {
  transform: scale(0.8);
}
.container {
    max-width: 1264px;
}
.theme--light.v-card {
    background-color: #fff;
    color: rgba(0,0,0,.87);
	transition-property: box-shadow,opacity;
box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12); margin-bottom:20px;
}
.v-responsive {
    position: relative;
    overflow: hidden;
    flex: 1 0 auto;
    max-width: 100%;
    display: flex;
}
.v-image__image {
    background-repeat: no-repeat;
}
.v-image__image, .v-image__placeholder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.v-card__text {
    font-size: .875rem;
    line-height: 1.375rem;
    letter-spacing: .0071428571em;
    padding: 16px;
    width: 100%;
}
.book-title {
    min-height: 44px;
}
@media (max-width: 767px) {
  .navigation-clean-search .form-inline .search-field {
    display: inline-block;
    width: 80%;
  }
  .col{flex-basis: auto; flex-grow: inherit;
}
}
.navigation-clean-search .form-inline .search-field:focus {
  border-bottom: 1px solid #ccc;
}

.footerpad {
  padding-top: 70px;
  padding-bottom: 20px;
}

.footerpad a,
.footerpad ul {
  color: #000;
}

a {
  color: #678a9e;
}

a:hover {
  color: #0f3528 !important;
  background-color: none;
  text-decoration: none;
}

.searchbar {
  max-width: 100% !important;
  width: 500px;
  height: 60px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 10px 12px rgb(26, 25, 25, 0.23);
}
.searchdropdown {
  margin-left: 5px;
}
.searchdropdown button {
  padding: 16px;
}

.searchbar::placeholder {
  color: #252838;
  padding-left: 30px;
}

.searchbar:focus {
  padding-left: 30px;
}
@media only screen and (max-width: 704px) {
  .searchbar {
    width: auto;
  }
  .tab-content{margin-left:0px!important; padding-left:0px!important; padding-right:0px!important;}
  .d-inline-block{display:block!important; margin-bottom:10px;}
}


@media only screen and (max-width: 600px) {
  body::-webkit-scrollbar {
    display: none;
  }

  body {
    overflow-x: hidden;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
  }
  .searchbar {
    width: auto;
  }
  .adbanner {
    width: 100%;
  }
  .searchsection {
    flex-direction: row;
  }
  .searchbar::placeholder {
    font-size: 10px;
    padding: 0;
  }
  .profiles,
  .news,
  .courses {
    margin-left: 10px;
    width: 96%;
  }
  .tabhandler {
    width: 100% !important;
  }
  .tabpillscustom {
    width: 100%;
  }
  .rightprofileheaderbox {
    flex-direction: row;
  }
  .mainsection {
    flex-direction: row;
  }
  .tabbable {
    flex-direction: column;
    height: fit-content;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .searchbar {
    transform: scale(0.8);
  }
  .userDes td, .userDes th{display:block; width:100%;}
  .userDes th{border-bottom:0; padding-bottom:0;}
}
